*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
 }
 header {
   background-color: red;
   text-align: right;
   display: flex;
 }
ul a {
   list-style: none;
   text-decoration: none;
   text-align: right;
}
ul{
   display: flex;
   justify-content: flex-end;
   list-style: none;
   width: 100vw;
   height: 100%;
   align-items: center;
   border: 1px solid rgb(177, 167, 167);
}
#intro{
   background-color: black;
   text-align: center;
   height: 100vh;
   justify-content: center;
   align-items: center;
   padding-top: 20%;
   background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
 #intro p{
   color: crimson;
   vertical-align: middle;
   font-size: 3rem;
   font-weight: 200;
   font-style: italic;
}
h1{
   color: white;
   font-size: 6rem;
   font-family: sans-serif;
   
}
h2{
   text-decoration: underline;
   text-align: center;
   color: white;
}
   #section{
      background-color: #45567d;
      
      
      

   }
  li a{
     display: inline-block;
     padding: 2rem;
     font-size: 2.2rem;
  }
  li a:hover{
     background-color: blue;
     color: white;
  }
#projects{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: 200px,200px;
   padding: 3rem;
   margin: 0px auto;
   gap: 20px;
   background-color: #45567d;
} 
body{
   font-family: 'Poppins',sans-serif;
}
img{
   height: 500px;
   width: 500px;
}